
body {
	padding:60px 0;
}

.fluid-container, .fluid-nav {
	max-width: 95%;
	margin:0 auto;
}

.popover.custom {
	width: 400px;
}

.bottom20 {
  margin-bottom:20px;
}

#snippet_add_button {
  margin-bottom:10px;
}

#newsletter_template_edit_modal {
  width: 900px;
  height: auto;
  margin: 0px 0 0 -450px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */ 
}
#newsletter_template_edit_modal textarea {
  min-height: 300px;
}

.loading {
  background:#fff url('/img/loading.gif') center center no-repeat;
  height    :50px;
}

table .date {
  font-size: 11px;
}

h2 {
  line-height: 60px;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.6
}

.btn-group+.btn-group {
  margin:10px 0 0 0; 
}

.modal-body {
  max-height:100%;
}

#snippet_new_modal .modal-body {
  min-height: 260px;
}