
body {
	padding:60px 0;
}

.fluid-container, .fluid-nav {
	max-width: 95%;
	margin:0 auto;
}

.popover.custom {
	width: 400px;
}

.bottom20 {
  margin-bottom:20px;
}

#newsletter_template_edit_modal {
  width: 900px;
  height: auto;
  margin: 0px 0 0 -450px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */ 
}
#newsletter_template_edit_modal textarea {
  min-height: 300px;
}

.loading {
  background:#fff url('/img/loading.gif') center center no-repeat;
  height    :50px;
}

table .date {
  font-size: 11px;
}

h2 {
  line-height: 60px;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.6
}

.btn-group+.btn-group {
  margin:10px 0 0 0; 
}

/*.modal-body {
  max-height:100%;
}

#snippet_new_modal .modal-body {
  min-height: 260px;
}*/

.fluid-container, .fluid-nav {
  max-width: 1250px;
}

#snippets .accordion-heading .accordion-toggle{
  display: inline-block;
}
#snippets .accordion-heading .btn-group {
  margin:8px 8px 0 0;
}
.btn-group+.btn-group {
  margin-top:0;
}

.actions .btn-group{
  margin-top:10px;
  float:right;
}

body.permissions {
  background:black url('/img/dave.jpg') center 100px no-repeat;
  height: 100%;
}

body.permissions hr {
  display: none;
}

body.permissions h4 {
  color:#eee;
  text-align: center;
  margin-top: 500px;
}

#dev {
  background: #eee;
  border:1px solid #ccc;
  padding:10px;
  font-size: 11px;
  margin:20px;
  position: fixed;
  top:60px;
  left:10px;
}

#pig {
  display: block;
  width: 140px;
  height: 140px;
  position: fixed;
  bottom:0;
  right: 0;
  background: url('/img/pascal.png') top left no-repeat;
}

table.users .label {
  margin-right: 5px
}

.typeaheadDate, .typeaheadSite {
  font-size: 11px;
  padding-right: 16px;
}
.typeaheadDate {
  padding-left: 16px;
}

.typeaheadSite {
  font-weight: bold;
  text-transform: uppercase;
}

.snippet_value {
  color:rgb(105, 97, 97);
  font-size: 11px;
}

ul.snippet-section {
  list-style-type:none;
  margin-left: 0;
}
ul.snippet-section li {
  border-bottom: 1px dotted #ccc;
  line-height: 200%;
}
ul.snippet-section li:last-child {
  border-bottom:none;
}
ul.snippet-section a {
  font-size: 12px;
}